body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

#info {
  position: absolute;
  top: 50px;
  left: 10px;
  background: rgba(0, 0, 0, 0.73);
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

p {
  line-height: 15px;
  padding: 0;
  margin: 7px;
}

.coordsA {
  color: red;
}

.coordsB {
  color: blue;
}
