body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

#info {
  position: absolute;
  top: 50px;
  left: 10px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  font-weight: 600;
}

p {
  line-height: 15px;
  padding: 0;
  margin: 7px;
}

.coordsA {
  color: red;
}

.coordsB {
  color: blue;
}

.angle {
  color: #ffa500;
}

.azimuth {
  color: #ff00ff;
}


